@model ZP50.Web.Areas.Oratorio.Models.QuotaDaAcquistareModel


<div class="list-group-item">
    <div class="d-flex justify-content-between">
        <div class="form-inline">
            <div class="form-check">
                @Html.CheckBoxFor(model => Model.Aggiungi, new { @class = "form-check-input  position-static" })
                @Html.HiddenFor(model=> model.ID)
            </div>
            <h5>@Model.Descrizione <small>@Model.Costo.ToString("C")</small></h5>
        </div>
        <div class="form-inline">
            @Html.LabelFor(model=> model.Versato)
            @Html.TextBoxFor(model => model.Versato, new { @class = "form-control" })
        </div>
    </div>
</div>
