@model ZP50.Core.Oratorio.Partecipante

@{
    ViewBag.Title = "Details";
}


<div class="card">
    <div class="card-header">
        <h2>@Model.Cognome @Model.Nome</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DataNascita)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DataNascita)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ClasseFrequentata)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClasseFrequentata)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Indirizzo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Indirizzo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Annotazioni)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Annotazioni)
                    </dd>

                </dl>

            </div>
            <div class="col-4 border-left">
                <h4>Contatti</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Contatto</th>
                            <th>Recapito</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contatti)
                    {
                        <tr>
                            <td>@item.Cognome @item.Nome</td>
                            <td>@item.Telefono</td>
                        </tr>
                }
                    </tbody>
                </table>
            </div>

        </div>
        <hr />
        <h4>Quote</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descrizione</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.QuoteAcquistate.OrderBy(x => x.QuotaPartecipazione.Categoria).ThenBy(x => x.QuotaPartecipazione.Descrizione))
            {
                <tr>
                    <td>@item.QuotaPartecipazione.Categoria</td>
                    <td>@item.QuotaPartecipazione.Descrizione</td>
                    <td>@item.QuotaPartecipazione.Costo.ToString("C")</td>
                </tr>}
            </tbody>
        </table>
        <hr />
        <h4>Privacy</h4>

        <strong>AUTORIZZO</strong>

        <div class="border p-3 mt-2">
            <p>Si informa, ai sensi della L.196/2003, che:</p>
            <ol type="a">
                <li>il trattamento dei dati conferiti con la presente dichiarazione è finalizzato alle pratiche amministrative per l’iscrizione alle attività oratoriale – Estate Ragazzi 2019 presso la Parrocchia di Rastignano e alle attività a essa correlate e conseguenti;</li>
                <li>il trattamento sarà effettuato con modalità informatizzate e/o manuali;</li>
                <li>il conferimento dei dati è obbligatorio per una corretta gestione delle pratiche organizzative e amministrative;</li>
                <li>per assicurare il servizio, la Parrocchia potrà valersi di altri soggetti privati che potranno trattare i dati solo secondo le modalità previste dalla Legge, per il tempo necessario allo svolgimento del servizio;</li>
                <li>il titolare della banca dati è la Parrocchia di Rastignano con sede in via A.Costa 65, Pianoro (Bo)</li>
            </ol>
        </div>
        <div class="border p-3 mt-2">
            Autorizzo il Responsabile dell’attività oratoriale, i responsabili in loco e i collaboratori dell’attività di Estate Ragazzi 2019, a fotografare, filmare o effettuare registrazioni video-sonore per ragioni connesse all’attività oratoriale come documentazione dell’attività stessa. Inoltre acconsento all’utilizzo di questo materiale fotografico e video-sonoro per eventuale pubblicazioni promosse dalla Parrocchia di Rastignano, sul sito della stessa parrocchia e dell’Arcidiocesi di Bologna, nei mezzi radio-televisivi di proprietà dell’Arcidiocesi di Bologna o prodotti dall’Arcidiocesi di Bologna, al solo fine di rendere partecipe la comunità cristiana e la cittadinanza delle diverse attività promosse dalla Chiesa. La presente vale quale dichiarato consenso ad ogni effetto.
        </div>

        

        <div class="row mt-5">
            <div class="col-4 border-top">
                Cognome e Nome genitore
            </div>
            <div class="col-4 border-top">
                Telefono genitore/i
            </div>
            <div class="col-4 border-top">
                Firma
            </div>
        </div>
    </div>
    <div class="card-footer d-print-none">
        <div class="d-flex justify-content-between">
            @Html.ActionLink("Indietro", "Index")
            <a href="javascript:window.print();" class="btn btn-primary"><i class="fa fa-print"></i> Stampa</a>
        </div>
        </div>
    </div>
