@model ZP50.Web.Areas.Oratorio.Models.PartecipanteQueryResultModel
    @{
    ViewBag.Title = "Partecipanti - " + Model.Filter.Quota;
}
@{ 
    var groups = Model.Items.Select(x => x.ClasseFrequentata).Distinct();
}
@*<style>
    @@media print {
  table {page-break-after: always;}
}
</style>*@
<div class="card">
    <div class="card-header d-print-none">
        <div class="d-flex justify-content-between">
            @Html.ActionLink("Indietro", "Index")
            <a href="javascript:window.print();" class="btn btn-primary"><i class="fa fa-print"></i> Stampa</a>
        </div>
    </div>    <div class="card-body">
        <h2 class="mb-3">@Model.Filter.Quota</h2>
        @foreach (var group in groups.OrderBy(x=>x))
        {
            <h5>@group</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th width="20%">Codice</th>
                        <th width="80%">Cognome e Nome</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items.Where(x => x.ClasseFrequentata == group))
                    {
                        <tr>
                            <th>@item.CodiceIdentificativo</th>
                            <td>@item.Cognome @item.Nome</td>
                        </tr>

                    }
                </tbody>
            </table>
        }
    </div>
    <div class="card-footer d-print-none">
        <div class="d-flex justify-content-between">
            @Html.ActionLink("Indietro", "Index")
            <a href="javascript:window.print();" class="btn btn-primary"><i class="fa fa-print"></i> Stampa</a>
        </div>
    </div>
</div>
