
@model ZP50.Core.Oratorio.Partecipante
@{
    ViewBag.Title = "Quote";
}
<div class="card">
    <div class="card-body">
        <h2>Partecipante</h2>
        <ul class="nav nav-pills mb-1">
            <li class="nav-item ">
                <a class="nav-link " href="@Url.Action("Edit", new { id = Model.ID })">Anagrafica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Contatti", new { id = Model.ID })">Contatti</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Quote", new { id = Model.ID })">Quote</a>
            </li>
        </ul>

        <table class="table">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descrizione</th>
                    <th>Costo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.QuoteAcquistate.OrderBy(x=>x.QuotaPartecipazione.Categoria).ThenBy(x=>x.QuotaPartecipazione.Descrizione))
                {
            <tr>
                <td>@item.QuotaPartecipazione.Categoria</td>
                <td>@item.QuotaPartecipazione.Descrizione</td>
                <td>@item.QuotaPartecipazione.Costo.ToString("C")</td>
                <td><a href="@Url.Action("RimuoviQuota", new {quotaID=item.QuotaPartecipazioneID, partecipanteID=Model.ID})" class="btn btn-outline-secondary"><i class="fa fa-trash"></i></a></td>
            </tr>}
            </tbody>
        </table>

        <div class="m-1 d-flex flex-row-reverse">
            <a href="@Url.Action("AggiungiQuota", new { partecipanteID = Model.ID })" class="btn btn-success"><i class="fa fa-plus"></i> Aggiungi</a>
        </div>
    </div>
</div>






