@using ZP50.Core.CentroAscolto
@model IEnumerable<Persona>
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5>Membri <span class="badge badge-secondary">@Model.Count()</span></h5>
        </div>

        <div class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Edit", new { id = item.ID })" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Cognome @item.Nome</h5>
                        <small>@item.SexLetter() @item.PrintableAge()</small>
                    </div>
                    <p class="mb-1"><i class="fa fa-phone"></i> @item.Telefono - Occupazione: @item.Occupazione.Occupazione</p>
                    <small>@item.Occupazione.UltimoAggiornamento.ToShortDateString()</small>
                </a>
            }
        </div>
    </div>    
    <div class="card-footer">
        <div class="float-right">
            @Html.ActionLink("Aggiungi", "Create", "Persone", new { nucleoFamiliareId = ViewBag.NucleoFamiliareID }, new { @class = "btn btn-outline-success" })
        </div>
    </div>
</div>
