<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oratorio - ZP50</title>
    @Styles.Render("~/Content/site-css")
    <link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
        <a class="navbar-brand" href="#">ZP50</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home", new { Area = "Oratorio" })"><i class="fa fa-home"></i> Oratorio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Partecipanti", new { Area = "Oratorio" })"><i class="fa fa-user"></i> Partecipanti <span class="sr-only">(current)</span></a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Presenze", new { Area = "Oratorio" })"><i class="fa fa-users"></i> Presenze <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Contatti", new { Area = "Oratorio" })"><i class="fa fa-phone"></i> Contatti <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Dashboard", new { Area = "Oratorio" })"><i class="fa fa-dashboard"></i> Cruscotto <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")

        </div>
    </nav>

    <div class="container-fluid body-content">
        <div class="p-1">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/datatables.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>