@model ZP50.Web.Areas.CentroAscolto.Models.NucleoFamiliareListModel

@{
    ViewBag.Title = "Nuclei familiari";
}

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h5>Nuclei familiari</h5>
                <table class="table">
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Residenza
                        </th>
                        <th>
                            Dichiarazione Isee
                        </th>

                        <th>
                            Ultimo agg.
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Residenza)
                            </td>
                            <td>
                                @if (item.DichiarazioneIsee.IsScaduta())
                                {
                                    <span class="badge badge-danger">SCADUTA</span>
                                }
                                else
                                {
                                    <span class="badge badge-success">VALIDA</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AggiornataIl)
                            </td>

                            <td>
                                @Html.ActionLink("Visualizza", "Details", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                @using(Html.BeginForm("Index", "NucleiFamiliari", FormMethod.Get, new { @class = "" }))
                {
                    @Html.EditorFor(model=>model.Filter)
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Applica</button>
                    </div>
                }
                <hr />
                <p>
                    @Html.ActionLink("Crea nuovo", "Create", null, new { @class = "btn btn-outline-success" })
                </p>
            </div>
        </div>
    </div>
</div>



