@model ZP50.Core.Oratorio.QuotaPartecipazione

@{
    ViewBag.Title = "Delete";
}


<div class="card">
    <div class="card-header border-top border-danger">
        <h3>Sei sicuro di volere cancellare questa quota?</h3>
    </div>
    <div class="card-body">


        
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descrizione)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descrizione)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Costo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Costo)
                </dd>

            </dl>

        </div>

    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=> model.ID)
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                @Html.ActionLink("Indietro", "Index")

                    <input type="submit" value="Elimina" class="btn btn-danger" />
            </div>
        </div>
                    }
    </div>
