@model ZP50.Core.CentroAscolto.SchedaIncontro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SchedaIncontro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NucleoFamiliareID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NucleoFamiliareID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sintesi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sintesi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreataIl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreataIl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreataDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreataDa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
