@model ZP50.Core.CentroAscolto.SchedaIncontro

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <div class="form-horizontal">
                <h5>SchedaIncontro</h5>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.NucleoFamiliareID)

                <div class="form-group">
                    <label>Nucleo Familiare</label>
                    <input type="text" class="form-control form-control-plaintext" readonly value="@Model.NucleoFamiliare.Nome"/>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sintesi)
                    @Html.EditorFor(model => model.Sintesi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sintesi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreataIl)
                    @Html.EditorFor(model => model.CreataIl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreataIl, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreataDa)
                    @Html.EditorFor(model => model.CreataDa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreataDa, "", new { @class = "text-danger" })
                </div>


            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                @Html.ActionLink("Indietro", "Details", "NucleiFamiliari", new { id = Model.ID }, null)
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
