@using ZP50.Core.Misc
@model ZP50.Web.Areas.CentroAscolto.Models.SchedaIncontroListModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h4>Schede incontri</h4>
                <table class="table">
                    <tr>
                        <th>
                            NucleoFamiliare
                        </th>
                        <th>
                            Sintesi
                        </th>
                        <th>
                            Creata il
                        </th>
                        <th>
                            Creata da
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @item.NucleoFamiliare.Nome
                            </td>
                            <td>
                                @item.Sintesi.Truncate(30)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreataIl)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreataDa)
                            </td>
                            <td>
                                @Html.ActionLink("apri", "Edit", new { id = item.ID }) |
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                @Html.EditorFor(model => model.Filter)
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>





