@model ZP50.Web.Areas.Oratorio.Models.PresenzaQueryResultModel

@{
    ViewBag.Title = "Presenze";
}


<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2>@ViewBag.Title <small class="badge badge-secondary">@Model.Items.Count()</small></h2>

            <div>
                <a class="btn btn-outline-primary" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa fa-filter"></i>
                </a>
                <a href="@Url.Action("Ingresso")" class="btn btn-outline-success"><i class="fa fa-arrow-circle-o-down"></i>&nbsp;Ingresso</a>
                <a href="@Url.Action("Uscita")" class="btn btn-outline-dark"><i class="fa fa-arrow-circle-o-up"></i>&nbsp;Uscita</a>
            </div>

        </div>

        <div id="filters" class="collapse bg-light p-1">
            @using (Html.BeginForm("Index", "Presenze", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.EditorFor(model => Model.Filter)
    }
        </div>

        <table class="table" id="presenze">
            <thead>
                <tr>
                    <th>Cognome</th>
                    <th>Ingresso</th>
                    <th>Uscita</th>
                    <th>Stato</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Partecipante.Cognome @item.Partecipante.Nome</td>
                    <td>@item.Ingresso.ToShortTimeString()</td>
                    <td>
                        @if (item.Uscita.HasValue)
                    {
                        @item.Uscita.Value.ToShortTimeString()
                }
                else
                {
                    <span>--:-- </span>
            }
                    </td>
                    <td>
                        @if (!item.Uscita.HasValue)
                    {
                        <span class="badge badge-success">PRESENTE</span>
                }
                else
                {
                    <span class="badge badge-warning">USCITO</span>
            }
                    </td>
                </tr>

        }
            </tbody>
        </table>

    </div>
    <div class="card-footer">

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#presenze').DataTable({
                responsive: true,
                lengthChange: false,
                language: {
                    "sEmptyTable": "Nessun dato presente nella tabella",
                    "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                    "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                    "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "Visualizza _MENU_ elementi",
                    "sLoadingRecords": "Caricamento...",
                    "sProcessing": "Elaborazione...",
                    "sSearch": "Cerca:",
                    "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                    "oPaginate": {
                        "sFirst": "Inizio",
                        "sPrevious": "Precedente",
                        "sNext": "Successivo",
                        "sLast": "Fine"
                    },
                    "oAria": {
                        "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                        "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                    }
                }
            });
            $('.dataTables_filterinput[type="search"]').css(
                { 'width': '100%', 'display': 'inline-block' }
            );
        });
    </script>

}


